<h1>Statistics of Sales by Products</h1>

<%= bar_chart @sales_with_title,  xtitle: "No of Books Sold", ytitle: "Products" %>

<h1>Statistics of Active Buyers</h1>
<%= bar_chart @user_name,   xtitle: "Items Purchased" , ytitle: "Email" %>