  <div class="container">
    <div class="row">
      <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
        <div class="slides" data-group="slides">
          <div class="slide-body" data-group="slide">
            <img src="assets/10.jpg" alt="">
            <div class="caption header" data-animate="slideAppearUpToDown" data-delay="500" data-length="300">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
