<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Shopping Cart</a></li>
  <li role="presentation"><a href="#">Products</a></li>
  
  <li role="presentation"><a href="sign_in">Login</a></li>
  
</ul>
